<html>
<head>
    <title>Jobs Board Skeleton</title>
</head>
<body>
    <h1>Jobs Board Skeleton</h1>
    <p>
        This is a skeleton example of a jobs board application. Please note that
        there is absolutely no UI design and can be made as aesthetically
        pleasing as you'd like with html5. I am powered by Django and written
        in Python. Currently I am only using the careerbuilder.com API
        to find jobs. More APIs or even web scraping can be easily implemented.
    </p>
    <p>
        Currently I am only using the Location and Keywords parameters when
        searching for jobs. A complete list of parameters is located here:
        <a href='http://api.careerbuilder.com/JobSearchInfo.aspx'>http://api.careerbuilder.com/JobSearchInfo.aspx</a>
    </p>
    <p><a href='/search'>Try It Out</a></p>
</body>
</html>
